/* *****************************************
*  GENERAL
******************************************** */

body {
  /* to keep page form exceeding width of the banner */
  /* max-width: 940px; */
}

/* background banner at top of page */
#banner {
  /* background: url("./images/jason-leung-1064184-unsplash.jpg") no-repeat center; */
  background-image: linear-gradient(to bottom right, white, rgb(219, 242, 213));
}

#logo {
  width: 100px;
}

/* spinner shown while waiting for ajax calls */
.spinner {
  width: 100px;
  height: 100px;
  text-align: center;
}

/* "Thrift Store" title in banner */
#app-title {
  color: black;

  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #fff,
  0 0 70px #fff,
  0 0 80px #fff,
  0 0 100px #fff,
  0 0 150px #fff;
}


/* *****************************************
*  User name on left side of banner
******************************************** */

 #login-fieldset input {
  border-radius: 5px;
  width: 180px;
  margin-left: 2px;
}
 #login-fieldset ::placeholder {
    color: grey;
    opacity: 0.5;
}
fieldset {
  padding: 10px 15px 7px 10px;
  margin-bottom: 3px;
  width: 290px;

  border: solid 2px black;
  border-radius: 10px;

  color: white;
  font-weight: lighter;

  background: rgb(81, 142, 48);
}
/* *************************************** */
/* LOGIN PAGE
/* *************************************** */

label.col-form-label {
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  font-style: italic;
}
h1.text-center {
  font-family: 'Arimo', sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 4em;
  font-weight: bolder;
}
.btn-lg {
  margin-top: 10px;
  font-family: 'Arimo', sans-serif;
}
h4.text-center.text-danger {
  font-size: 15px;
  font-style: italic;
}

/* *****************************************
*  PAGE CONTENT AREA / CLOCK IN/OUT PAGE
******************************************** */

/* content area below the menu bar */
.content {
  background-color: lavender;
  padding: 15px;
}
button.btn.btn-success.dropdown-toggle {
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 25px;
  height: 50px;
}


.dropdown-item:hover {
  background-color: rgb(62, 175, 56);
}
#clockOutButton {
  margin-bottom: 25px;
  height:80px;

}
#roleParagraph {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin-top: 20px;
}
#milesForm {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
}
#seperatorLine {
  border-top: 1px solid rgb(167, 168, 170);
}
#somethingElse {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}
.nav-item.nav-link {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
}
#app-title.text-center {
  font-family: 'Arimo', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 1em;
  font-weight: 900;
}
.btn{
  font-family: 'Arimo', sans-serif;
  letter-spacing: 2px;
}
#clockInPrompt{
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 20px;
}
#change-user-button.btn.btn-primary.btn-sm{
  letter-spacing: 0px;
}

/* **************************************************
 * NOTIFY SECTION
 ****************************************************/
  h2.text-center {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-style: italic;
  }
  h3.text-center.mt-4.mb-1{
    font-family: 'Arimo', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
  }
  label {
    letter: 1px;
  }
  #notifyHeader {
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
  }

  .my-header {
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
/* *******************************************
*  SCHEDULE SECTION
*********************************************/
th.text-center {
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
}
#shiftsHeader {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 35px;
}



/* *******************************************
* HISTORY SECTION
*********************************************/
#historyHeader {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 20px;
}


/* Marker for divs that are filled in by ajax.
   When changing to another menu all divs with this class are set to "".
   This prevents the problem of the card accordians shadowing each other's
   ID names sine the all use "accordion" and set the assignment id's with
   the same naming covnetion. */
.auto-clear {
   /* intentionally blank */
}
